@charset"utf-8";

body {
  margin: 0;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  /* background-image: url("../img/bg.jpg"); */
  background-color: white;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: gray;
}

.clear {
  clear: both;
}

header {
  margin: auto;
  width: 95%;
  /* color: white; */
  border-bottom: dashed 1px;
  margin-bottom: 0.5rem;
}

header h2 {
  margin: 1rem 0;
  font-size: 2.5rem;
  vertical-align: middle;
  text-shadow: 0 2px 0 gray;
}

.main {
  margin: auto;
  padding: 1.5%;
  width: 92%;
  background-color: white;
  border-radius: 8px;
}

.main ul {
  margin: 1rem  0.5rem;
  padding: 0;
}

.main ul li {
  margin-right: 1rem;
  display: inline-block;
}

.main table {
  width: 50%;
  margin: 1rem 1rem;
}

.controlBtn {
  background-color: #e7e7e7;
  color: black;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 12px;
}

.callme {
  background-color: #555555;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 50%;
}

footer {
  margin: auto;
  width: 95%;
  border-top: dashed 1px;
  margin-top: 0.5rem;
  color: white;
}

footer .copyright {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}